# Flutter/Dart ile ilgili genel dosyalar
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
build/
.idea/
android/.gradle/
ios/Pods/
*.iml

# Firebase config dosyaları
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# API key gibi hassas dosyalar
assets/notifications_key/deu-cis-00b03cb78ce3.json.json

# VSCode
.vscode/

# MacOS sistem dosyaları
.DS_Store

# Linux & Windows build dosyaları
linux/
windows/
macos/

# Crashlytics (Firebase)
android/app/crashlytics-build.properties
